*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.random-number{
    display: flex;
    width: 100px;
    aspect-ratio: 1 / 1;
    border: solid 2px black;
    align-items: center;
    justify-content: center;
}

.rn-container{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}

button{
    width: 150px;
    margin: 1rem auto;
}
input{
    height: 1rem;
}
input::placeholder {
  font-weight: bold;
  opacity: 1;
  color: red;
  text-align: center;
}