*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h2{
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 250%;
    background-color: rgb(225, 127, 0);
    color: white;
    padding: 0.2em;
}

body{
    display: flex;
    flex-direction: column;
}


/* *PRACTICA 1  */

.wrapper{
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    margin-bottom: 60px;
}
.box{
    background-color: #444;
    color: white;
    padding: 20px;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* *PRACTICA 2  */

.a2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.b2{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.c2{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.d2{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.e2{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.f2{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}




