:root {
  --secondary-color: rgb(210, 152, 255);
  --secondary-color-alfa: rgba(210, 152, 255, 0.5);
  --font-color: #2c2c2c;
  --background-color: #f5f5f5;
  --container-shadow: -2px -2px 4px #ffffff, 2px 2px 4px #b8b8b8;
  --container-inset-shadow: inset 8px 8px 7px #b8b8b8,
    inset -8px -8px 7px #ffffff, 8px 8px 7px transparent,
    -8px -8px 7px transparent;
  --container-radius: 8px;
  --typo: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  color: var(--font-color);
  font-family: var(--typo);
}

.d-none {
  display: none !important;
}
.d-flex {
  display: flex !important;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--background-color);
}


/* header general de toda la web */
.header {
  position: fixed;
  top: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: var(--background-color);
  color: var(--font-color);
  box-shadow: var(--container-shadow);
  border-radius: 0 0 var(--container-radius) var(--container-radius);
  margin-bottom: 1rem;
  z-index: 10;
}
.header__title {
  font-size: 25rem;
  color: var(--background-color);
  position: absolute;
  text-shadow: -2px -2px 4px #ffffff, 2px 2px 4px #b8b8b8;
}
.title-general {
  font-size: 3rem;
  color: var(--font-color);
  position: absolute;
  left: 6rem;
}
.header__nav {
  position: absolute;
  width: 100%;
  top: 2rem;
  display: flex;
  justify-content: flex-end;
  padding: 0rem 2rem;
  align-items: center;
  gap: 1rem;
}
.header__nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  background: var(--background-color);
  border-radius: var(--container-radius);
  padding: 0.5rem 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.45);
  box-shadow: -2px -2px 4px #ffffff, 2px  2px 4px #b8b8b8;
  max-width: 500px;
  transition: max-width 0.5s cubic-bezier(.4, 0, .2, 1), border-radius 0.6s ease, opacity 1s ease;
}
.header__nav-list.is-closed {
  max-width: 48px;
}
.blink {
  request-animation-frame: glow;
  animation: glow 0.65s infinite alternate;
}
@keyframes glow {
  0% {
    box-shadow:
      0 0 5px var(--secondary-color),
      0 0 15px var(--secondary-color),
      inset 0 0 4px var(--secondary-color-alfa);
  }
  50% {
    box-shadow:
      0 0 15px var(--secondary-color),
      0 0 25px var(--secondary-color),
      inset 0 0 8px var(--secondary-color-alfa);
  }
  100% {
    box-shadow:
      0 0 5px var(--secondary-color),
      0 0 15px var(--secondary-color),
      inset 0 0 4px var(--secondary-color-alfa);
  }
}
.header__nav-logo-general{
  height: 4rem;
  text-shadow: -2px -2px 4px #ffffff, 2px 2px 4px #b8b8b8;
  margin-right: 1rem;
}
.nav-general {
  position: unset;
  justify-content: space-between;
}
.header__nav-item {
  font-weight: bold;
  color: var(--font-color);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  white-space: nowrap;
  transition: opacity 0.2s ease;
}
.header__nav-list .header__nav-item {
  transition: opacity 0.25s ease;
}
.header__nav-list.is-closed .header__nav-item {
  opacity: 0;
  pointer-events: none;
}

/* index.html */

.home {
  top: 1rem;
  height: 96vh;
  border-radius: var(--container-radius);
  width: calc(100% - 2rem);
}

.header__nav-logo {
  height: 12.5rem;
  color: var(--background-color);
  text-shadow: -2px -2px 4px #ffffff, 2px 2px 4px #b8b8b8;
  margin-right: 1rem;
  position: fixed;
  top: 2rem;
  left: 2rem;
}


/* catalogo.html */
.content__container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content__menu {
  display: flex;
  gap: 1rem;
  margin: 8rem 1rem 2rem;
  justify-content: flex-start;
  width: calc(100% - 2rem);
}
.content__menu-icon {
  width: 8vh;
  aspect-ratio: 1/1;
  background-color: var(--background-color);
  border-radius: var(--container-radius);
  box-shadow: var(--container-shadow);
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__menu-icon svg {
  width: 60%;
  fill: var(--font-color);
  stroke: var(--font-color);
}
.content__menu-icon:hover {
  box-shadow: inset 8px 8px 5px #b8b8b8, inset -8px -8px 5px #ffffff, 8px 8px 5px transparent, -8px -8px 5px transparent;
}
.content__menu-icon:active {
  box-shadow: inset 8px 8px 5px var(--secondary-color-alfa), inset -8px -8px 5px var(--secondary-color-alfa), 8px 8px 5px transparent, -8px -8px 5px transparent;
}
.content__product {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0rem 1rem 2rem;
  padding: 2rem;
  width: calc(100% - 2rem);
  background-color: var(--background-color);
  border-radius: var(--container-radius);
  box-shadow: var(--container-shadow);
}
.content__product-main-title {
  font-size: 2.5rem;
}
.content__product-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.61vw;
}
.content__product-item {
  background-color: var(--background-color);
  box-shadow: var(--container-shadow);
  border-radius: var(--container-radius);
  width: 30vw;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s;
  cursor: pointer;
}
.content__product-item:hover {
  transform: scale(1.003);
}
.content__product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: var(--container-radius) var(--container-radius) 0 0;
}
.content__product-text {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__product-price {
  font-size: 1.2rem;
  color: var(--font-color);
  font-weight: lighter;
  margin: 0 0 1rem 0;

}
.content__product-button {
  padding: 1rem 1rem;
  background-color: var(--background-color);
  box-shadow: var(--container-shadow);
  color: var(--font-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 100%;
}
.content__product-button:hover {
  background-color: var(--secondary-color-alfa);
}

/* carrito */
.cart__container {
  position: fixed;
  top: 7.5rem;
  right: 1rem;
  height: fit-content;
  height: 400px;
  width: 500px;
  background-color: var(--background-color);
  box-shadow: var(--container-shadow);
  border-radius: var(--container-radius) 0 0 var(--container-radius);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  transition: transform 0.5s ease-in-out;
  z-index: 10;
}
.cart__container.is-closed {
  transform: translateX(150%);
}
.button__cart{
  position: fixed;
  width: 48px;
  top: 7.5rem;
  right: 2rem;
  aspect-ratio: 1/1;
  background-color: var(--background-color);
  border-radius: var(--container-radius);
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__cart i {
  font-size: 1rem;
  color: var(--font-color);
}
.button__cart:hover {
  box-shadow: var(--container-inset-shadow);
}
.button__cart-close{
  position: absolute;
  width: 48px;
  top: 0.5rem;
  right: 1rem;
  aspect-ratio: 1/1;
  background-color: var(--background-color);
  border-radius: var(--container-radius);
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__cart-close i {
  font-size: 1rem;
  color: var(--font-color);
}
.button__cart-close:hover {
  box-shadow: var(--container-inset-shadow);
}
.cart__items {
  overflow-y: scroll;
  scrollbar-width:auto;
  scrollbar-color: var(--secondary-color-alfa) transparent;
  height: 25rem;
  margin-top: 2rem;
  box-shadow: var(--container-inset-shadow);
  border-radius: var(--container-radius);
  padding: 1rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
.cart__total {
  justify-self: flex-end;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;
  margin: 0 0 1rem 0;
}
.cart__selected{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: var(--container-shadow);
  border-radius: var(--container-radius);
}
.cart__delete{
  color: red;
  margin: 0 0 0 0;
}
.cart__delete:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.2s ease;
}
.cart__buying-button {
  padding: 1rem 1rem;
  background-color: var(--background-color);
  box-shadow: var(--container-shadow);
  color: var(--font-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 100%;
}
.cart__buying-button:hover {
  background-color: var(--secondary-color-alfa);
}
.cart__buying-button.disabled {
  background-color: grey;
  cursor: not-allowed;
}


/* producto.html */
.product__back{
  margin: 8.5rem 1rem 0;
  padding: 1rem 2rem;
  background-color: var(--background-color);
  box-shadow: var(--container-shadow);
  color: var(--font-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.product__back:hover {
  box-shadow: var(--container-inset-shadow);
}
.product__detail-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 2rem;
  align-items: center;
  height: fit-content;
}
.product__detail-content {
  display: flex;
  gap: 2rem;
  width: 100%;
  background-color: var(--background-color);
  border-radius: var(--container-radius);
  box-shadow: var(--container-shadow);
  padding: 2rem;
  justify-content: space-between;
}
.product__detail-img {
  width: 30%;
  border-radius: var(--container-radius);
  box-shadow: var(--container-shadow);
}
.product__detail-info {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
  justify-content: space-between;
  box-shadow: var(--container-shadow);
  border-radius: var(--container-radius);
  padding: 2rem;
}
.product__detail-name {
  font-size: 2rem;
}
.product__detail-description {
  font-size: 1rem;
  text-align: justify;
}
.product__detail-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 0 0 0;
}
.product__detail-specs {
  width: 30vw;
  background-color: var(--background-color);
  box-shadow: var(--container-shadow);
  border-radius: var(--container-radius);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.product__detail-specs-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.product__detail-specs-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 50%;
  justify-content: space-between;
  margin: 2rem 0 0 0;
}
.product__detail-specs-item {
  font-size: 1rem;
}
.product__detail-specs-item span {
  font-weight: bold;
}

/* contacto.html */
.contact__container {
  height: fit-content;
  border-radius: var(--container-radius);
  box-shadow: var(--container-shadow);
  width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 2rem;
  margin: 10rem 0 0 0;
  padding: 2rem 1rem;
}
.contact__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact__form-label {
  font-size: 1.2rem;
}
.contact__form-input,
.contact__form-textarea {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: var(--container-radius);
  box-shadow: var(--container-shadow);
  font-size: 1rem;
}
.contact__form-input:focus,
.contact__form-textarea:focus {
  outline: none;
  box-shadow: var(--container-inset-shadow);
}
.contact__form-textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 200px;
}
.contact__form-button {
  padding: 1rem 1rem;
  background-color: var(--background-color);
  box-shadow: var(--container-shadow);
  color: var(--font-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 100%;
}
.contact__form-button:hover {
  background-color: var(--secondary-color-alfa);
}

/* pago.html */
.payment{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.payment__container {
  height: fit-content;
  border-radius: var(--container-radius);
  box-shadow: var(--container-shadow);
  width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 2rem;
  margin: 6rem 0 0 0;
  padding: 2rem 1rem;
}
.payment__title {
  font-size: 2.5rem;
}
.payment__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.payment__form-label {
  font-size: 1.2rem;
}
.payment__form-input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: var(--container-radius);
  box-shadow: var(--container-shadow);
  font-size: 1rem;
}
.payment__form-input:focus {
  outline: none;
  box-shadow: var(--container-inset-shadow);
}
.payment__submit-button {
  padding: 1rem 1rem;
  background-color: var(--background-color);
  box-shadow: var(--container-shadow);
  color: var(--font-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 100%;
}
.payment__submit-button:hover {
  background-color: var(--secondary-color-alfa);
}
.payment__back-button{
  position: fixed;
  padding: 1rem 2rem;
  background-color: var(--background-color);
  box-shadow: var(--container-shadow);
  color: var(--font-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex !important;
  align-items: center;
  justify-content: center;
  top: 8rem;
  left: 1rem;
}
.payment__back-button:hover {
  box-shadow: var(--container-inset-shadow);
}

/* Modal confirmación de venta */
.modal__success {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.modal__content-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  padding: 2rem;
  border-radius: var(--container-radius);
  box-shadow: var(--container-shadow);
  text-align: center;
  width: 50vw;
  height: 50vh;
}
.modal__title-success {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.modal__message-success {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.modal__button-success {
  padding: 1rem 2rem;
  background-color: var(--background-color);
  box-shadow: var(--container-shadow);
  color: var(--font-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s;
}
.modal__button-success:hover {
  background-color: var(--secondary-color-alfa);
}
.modal__success.hidden {
  opacity: 0;
  pointer-events: none;
}


/* media query para dispositivos móviles */
@media screen and (max-width: 768px) {
  .header {
    top: unset;
    margin-bottom: 0;
    bottom: 0;
    height: 100px;
    box-shadow: -2px -2px 4px var(--secondary-color), 2px 2px 4px var(--secondary-color);
  }
  .home {
    top: 1rem;
    height: 96vh;
    border-radius: var(--container-radius);
    width: calc(100% - 2rem);
    flex-direction: column-reverse;
    box-shadow: var(--container-shadow);
  }
  .header__nav {
    top: unset;
    bottom: 2rem;
    justify-content: center;
  }
 .home .header__title {
    font-size: 5rem;
    position: absolute;
    top: 46vh;
  }
  .home .header__nav-logo{
    left: unset;
    position: fixed;
    top: 25vh;
  }
  .header__nav-list {
    flex-direction: column;
    transition: max-height 0.3s cubic-bezier(.4, 0, .2, 1), opacity 1s ease;
    position: fixed;
    bottom: 3vh;
    max-height: 200px;
  }
  .header__nav-list.is-closed {
  max-height: 48px;
  max-width: none;
  }
  .header .title-general{
    display: none;
  }
  .header__nav-logo-general{
    position: fixed;
    bottom: 1.5vh;
    left: 1.5rem;
  }
  .content__menu{
    margin: 2rem 1rem 2rem;
    justify-content: center;
  }
  .content__container{
    align-items: center;
  }
  .content__product {
    width: calc(100% - 1rem);
    margin: 0 0 8rem 0;
  }
  .content__product-item {
    width: 80vw;
  }
  .content__product-list {
    gap: 1rem;
    justify-content: center;
  }
  .cart__container {
    z-index: 12;
    width: 100vw;
    right: 0;
    border-radius: var(--container-radius);
    top: unset;
    bottom: 0;
  }
  .cart__container.is-closed {
    transform: translateY(150%);
  }
  .button__cart{
    z-index: 11;
    right: 2rem;
    top: unset;
    bottom: 3vh ;
  }
  .button__cart-close{
    z-index: 12;
    right: 2rem;
    top: unset;
    bottom: 3vh ;
  }
  .cart__items{
    margin: 0;
  }
  .cart__buying{
    margin: 0 0 4rem 0;
  }
  .product__back{
    margin: 1rem 0.5rem 0;
  }
  .product__detail-container {
    margin: 1rem 0rem 8rem;
    width: calc(100% - 1rem);
    justify-self: center;
  }
  .product__detail-content {
    flex-direction: column;
    align-items: center;
  }
  .product__detail-img {
    width: 100%;
  }
  .product__detail-info {
    width: 100%;
    align-items: center;
  }
  .product__detail-specs {
    width: 100%;
  }
  .contact{
    min-height: 100vh;
    margin: 1rem 0.5rem 5rem 0.5rem;
  }
  .contact__container {
    margin: 0 0 0 0;
  }
  .payment{
    align-items: flex-start;
    min-height: 100vh;
    padding: 2rem 0;
    margin: 3rem 0.5rem 5rem 0.5rem;
  }
  .payment__back-button{
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin: 0 0 0 0;
  }
  .payment__container {
    width: calc(100% - 1rem);
    margin: 0 0 0 0;
  }
  .modal__content-success {
    width: 80vw;
    height: auto;
  }
}


/* Ajuste de tamaños intermedios */
@media screen and (min-width: 769px) and (max-width: 1413px) {
  .content__product-list {
    gap: 2.5vw;
    justify-content: center;
  }
  .content__product-item {
    width: 40vw;
  }
}




