* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.header {
  background-color: #ffffff;
  color: #333;
  padding: 20px;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
  padding: 0 10px 0 10px;
}
.header__menu-logo--nav {
  width: auto;
  height: 20px;
}
.header__ul {
  display: flex;
  gap: 60px;
  align-items: center;
  list-style: none;
  margin-right: 5rem;
}
.header__a--nav {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}
.header__a--nav:hover,
.--active{
  color: #56865e;
}
.header__hamburguesa--nav {
  height: 25px;
  cursor: pointer;
}
.main {
  display: flex;
  flex-direction: column;
}
.main__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5,1fr);
  gap: 10px;
  padding: 10px;
}
.main__grid-box {
  background-color: #dd7c7c;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__grid-box-img {
  width: 110%;
  height: 110%;
  transition: transform 0.5s ease;
}
.main__grid-box-img:hover {
  transform: translateY(-4px);
}
.main__grid-box:first-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.main__grid-box:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.main__grid-box:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.main__grid-box:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.main__grid-box:nth-child(5) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
.main__grid-box:nth-child(6) {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}
.main__grid-box:nth-child(7) {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
.main__grid-box:nth-child(8) {
  grid-column: 5 / 7;
  grid-row: 1 / 3;
}
.main__grid-box:nth-child(9) {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
}
.main__grid-box:nth-child(10) {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}
.main__grid-box:nth-child(11) {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}
.main__grid-box:nth-child(12) {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}
.main__grid-box:nth-child(13) {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}
.main__grid-box:nth-child(14) {
  grid-column: 5 / 6;
  grid-row: 3 / 5;
}
.main__grid-box:nth-child(15) {
  grid-column: 6 / 7;
  grid-row: 3 / 4;
}
.main__grid-box:nth-child(16) {
  grid-column: 6 / 7;
  grid-row: 4 / 5;
}
.main__grid-box:nth-child(17) {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}
.main__grid-box:nth-child(18) {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}
.main__grid-box:nth-child(19) {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
}
.main__grid-box:nth-child(20) {
  grid-column: 5 / 6;
  grid-row: 5 / 6;
}
.main__grid-box:nth-child(21) {
  grid-column: 6 / 7;
  grid-row: 5 / 6;
}
.main__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  color: #333;
  gap: 1rem;
  margin: 5rem 0 9rem 0;
}
.main__logo{
  width: auto;
  height: 40px;
  align-self: center;
  margin-bottom: 10px;
}
.main__p {
  font-size: 18px;
  width: 20%;
  align-self: center;
  color: #8a8a8a;
}
.footer {
  background-color: #ffffff;
  color: #8a8a8a;
  text-align: center;
  padding: 15px;
}