*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

aside{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    flex-direction: column;
    background-color: antiquewhite;
    width: 40px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}

aside img{
    width: 25px;
    cursor: pointer;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    height: 100vh;
    width: fit-content;
}

section img{
    height: 40vh;
}

section div{
    align-self: flex-end;
    text-align: end;
}