*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

div{
    background-color: brown;
    width: 50px;
    aspect-ratio: 1 / 1;
}

div:first-child{
    position: relative;
    left: 20px;
    top: 10px;
}

div:nth-child(2){
    position: absolute;
    right: 0;
    top: 0;
}