*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    gap: 30px;
}

section > div{
    height: 50px;
    width: 50px;
    background-color: crimson;
}

.text-container p{
    background-color: black;
    color: white;
    padding: 1rem;
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
}

.width-container div{
    width: 20vw;
    transition: width 1s ease-out;
}

.animation-container div{
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}

@keyframes scale {
    0%{
        transform: scale(1);
    }100%{
        transform: scale(1.3);
    }
}

.display-container div{
    display: block;
}

.opacity-container div{
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.grid-container > div{
    height: auto;
    width: auto;
    background-color: white;
}

#cell-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    height: 50px;
    width: 50px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

