*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h2{
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 250%;
    background-color: rgb(225, 127, 0);
    color: white;
    padding: 0.2em;
}

.header{
    height: 100vh;
    list-style: none;
    display: grid;
    padding: 40px 40px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 60px;    
}

a:not(first-child){
    text-decoration: none;
    color: white;
    background-color: rgb(225, 127, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    font-size: xxx-large;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease-in-out;
}

a:not(first-child):hover{
    background-color: rgb(254, 135, 16);
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(95, 30, 0, 0.8) ;
    transform: scale(1.005);
}

.menu{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 5px;
    background-color: rgb(254, 135, 16);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 20px;
    
}

.menu > span{
    height: 11px;
    width: 11px;
    background-color: white;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

/* *PRACTICA 1  */

.wrapper1{
    width: 70%;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-bottom: 60px;
}
.box1{
    background-color: #444;
    color: white;
    padding: 20px;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.a1{
    grid-column: 2/4;
    grid-row: 1/2;
}
.b1{
    grid-column: 4/5;
    grid-row: 1/3;
}
.c1{
    grid-column: 2/3;
    grid-row: 2/3;
}
.d1{
    grid-column: 3/4;
    grid-row: 2/3;
}
.e1{
    grid-column: 1/2;
    grid-row: 1/3;
}

/* *PRACTICA 2  */

.wrapper2{
    width: 33%;
    align-self: center;
    justify-self: center;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    grid-gap: 10px;
    margin-bottom: 60px;
}
.box2{
    background-color: #444;
    color: white;
    padding: 20px;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.box2:nth-child(odd){
    background-color: #666;
}
.box2:nth-child(even){
    background-color: #d3d3d3;
}

/* *PRACTICA 3  */

.wrapper3{
    width: 70%;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-bottom: 60px;
}
.box3{
    background-color: #444;
    color: white;
    padding: 20px;
    font-size: 150%;
    border-radius: 5px;
}
.d3 > .box3{
    background-color: #afafaf;
}
.a3{
    grid-column: 1/3;
    grid-row: 1/2;
}
.b3{
    grid-column: 3/5;
    grid-row: 1/2;
}
.c3{
    grid-column: 1/3;
    grid-row: 2/4;
}
.d3{
    grid-column: 3/5;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: subgrid;
    grid-gap: 5px;
}
.e3{
    grid-column: 1/3;
    grid-row: 1/2;
}

/* *PRACTICA 4  */

.wrapper4{
    width: 70%;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    grid-gap: 10px;
    margin-bottom: 60px;
}
.box4{
    background-color: #444;
    color: white;
    padding: 20px;
    font-size: 150%;
    border-radius: 5px;
}
.d4 > .box4{
    background-color: #afafaf;
}
.a4{
    grid-column: 1/3;
    grid-row: 1/2;
}
.b4{
    grid-column: 4/5;
    grid-row: 1/2;
}
.c4{
    grid-column: 1/2;
    grid-row: 2/4;
}
.d4{
    grid-column: 2/5;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-flow: column;
    grid-gap: 5px;
}
.e4{
    grid-column: 1/2;
    grid-row: 1/3;
}
.f4{
    grid-column: 2/4;
    grid-row: 1/2;
}
.g4{
    grid-column: 4/5;
    grid-row: 2/3;
}

/* *PRACTICA 5  */

.wrapper5{
    width: 70%;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    grid-gap: 10px;
    margin-bottom: 60px;
}
.box5{
    background-color: #444;
    color: white;
    padding: 20px;
    font-size: 150%;
    border-radius: 5px;
}
.d5 > .box5{
    background-color: #afafaf;
}
.a5{
    grid-column: 1/3;
    grid-row: 1/2;
}
.b5{
    grid-column: 4/5;
    grid-row: 1/2;
}
.c5{
    grid-column: 1/2;
    grid-row: 2/4;
}
.d5{
    grid-column: 2/5;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-flow: row;
    grid-gap: 5px;
}

/* *PRACTICA 6  */

.wrapper6{
    width: 70%;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    grid-gap: 10px;
    margin-bottom: 60px;
}
.box6{
    background-color: #444;
    color: white;
    padding: 20px;
    font-size: 150%;
    border-radius: 5px;
}
.d6 > .box6{
    background-color: #afafaf;
}
.a6{
    grid-column: 1/3;
    grid-row: 1/2;
}
.b6{
    grid-column: 4/5;
    grid-row: 1/2;
}
.c6{
    grid-column: 1/2;
    grid-row: 2/4;
}
.d6{
    grid-column: 2/5;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-flow: row;
    grid-gap: 5px;
}

/* *PRACTICA 7  */

.wrapper7{
    width: 70%;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    grid-gap: 10px;
    margin-bottom: 60px;
}
.box7{
    background-color: #444;
    color: white;
    padding: 20px;
    font-size: 150%;
    border-radius: 5px;
}
.d7 > .box7{
    background-color: #afafaf;
}
.a7{
    grid-column: 1/3;
    grid-row: 1/2;
}
.b7{
    grid-column: 4/5;
    grid-row: 1/2;
}
.c7{
    grid-column: 1/2;
    grid-row: 2/4;
}
.d7{
    grid-column: 2/5;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-flow: row;
    grid-gap: 5px;
}
.e7{
    grid-column: 1/2;
    grid-row: 1/3;
}
.f7{
    grid-column: 2/4;
    grid-row: 1/2;
}
.g7{
    grid-column: 3/4;
    grid-row: 2/3;
}