*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

div{
    scroll-snap-type: Y mandatory;
    height: 100vh;
    overflow-y: scroll;
}

.icon{
    width: 100px;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: fixed;
    inset: 30px auto auto 30px;
    overflow: visible;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    background-color: white;

    &:hover{
        transform: scale(1.1);
    }
}

p{
    scroll-snap-align: start;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 5em 0 5em;
}

a:nth-child(even) p{
    background-color: lightcoral;
}
a:nth-child(odd) p{
    background-color: lightseagreen;
}