*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(255, 255, 255);
}

.icon{
    width: 100px;
    padding: 1em;
    box-shadow: 0 0 10px rgba(255, 0, 174, 0.8);
    position: fixed;
    inset: 30px auto auto 30px;
    overflow: visible;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
    background-color: white;

    &:hover{
        transform: scale(1.1);
    }
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    background-size: cover;
    background-position: 50% 50%;
}       