*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* body > div:first-child{
    background-color: salmon;
    border: 3px solid rgb(255, 0, 0);
    width: 50vw;
    height: 50vh;
}

body > div:nth-child(2){
    background-color: seagreen;
    border: 3px solid rgb(255, 0, 0);
    width: 50vh;
    height: 50vw;
}

body > div:nth-child(3){
    background-color: rgb(255, 0, 0);
    border: 3px solid rgb(255, 153, 0);
    width: 50vw;
    height: 50vh;
} */

.container{
    container-type: inline-size;
}

.card__container{
    display: flex;
    margin: 1em;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 35vw;
    border-radius: 10px;
    margin: 0.5em;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.58);
    -webkit-box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.58);


    .card__title{
        font-size:clamp(1.5rem, 3vw, 3rem);
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .card__text{
        font-size: clamp(0.8rem, 1.5vw, 2rem);
        text-align: center;
        padding: 1rem;
    }

    .card__image{
        width: 15vw;
        height: auto;
    }
}

    .card:hover{
        transform: scale(1.02);
        box-shadow: 0px 0px 13px 4px rgba(255, 0, 174, 0.656);
        -webkit-box-shadow: 0px 0px 13px 4px rgba(255, 0, 174, 0.656);
        -moz-box-shadow: 0px 0px 13px 4px rgba(255, 0, 174, 0.656);
    }


/* RESPONSIVE DESIGN WITH CONTAINERS */

@container (max-width: 701px) {
    .card__container{
        flex-direction: column;
        gap: 1em;
    }
    
    .card{
        width: 60vw;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        border: 3px solid black;
    }

    .card:hover{
        transform: unset;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        border: 3px solid black;
    }
}

/* RESPONSIVE DESIGN WITH MEDIA QUERIES */

@media (min-width: 481px) and (max-width: 780px) {
    body > div:first-child{
        border: 3px solid yellow;
    }
}

@media (min-width: 781px) and (max-width: 1200px) {
    body > div:first-child{
        border: 3px solid green;
    }
}

@media only screen and (min-width: 1201px) {
    body > div:first-child{
        border: 3px solid blue;
    }
}

@media print{
    body > div:nth-child(3){
        background-color: green;
    }
}