
div{
    display: flex;    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1em;
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: brown;
    font-size: 1.5625rem;
}

h2{
    color: blue;
    font-size: 1.375rem;
}

h3{
    color: green;
    font-size: 1.25rem;
}

h4{
    color: aquamarine;
    font-size: 1.125rem;
}

h5{
    color: yellow;
    font-size: 1rem;
}

h6{
    color: red;
    font-size: .875rem;
}

.hover:hover{
    color: black;
    transition: 0.5s;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 3em;
}

span{
    color: rgb(17, 255, 0);
    font-style: italic;
}

a{
    text-decoration: none;
    color: rgb(189, 0, 218);
    font-size: 1.875rem;
}

img{
    margin-top: 4em;
}

.completa{
    height: 100vh;
    display: flex;    
    align-items: center;
    justify-content: center;
}

ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

#menu{
    position: fixed;
    width: 100%;
    background-color: bisque;
}