* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ? Ejercicio 1 */


p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 3rem;
}
.container{
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    position: relative;
}
.cont-1{
    background-image: url("../media/images/juanwebp.webp");
}
.cont-2{
    background-image: url("../media/images/juanPesabaMucho.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
.cont-2 h1{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border: solid 4px white;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}
.cont-3{
    background-image: url("../media/images/liquor-2687103_1280.jpg");
}

/* ? Ejercicio 1 */

/* body {
  background: #a29bfe;
}

#container {
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#square1 {
  height: 100px;
  width: 100px;
  position: relative;
  border-radius: 100%;
  background: #dfe6e9;
  box-shadow: inset -10px -5px 0px 0px rgba(178, 190, 195, 0.3);
}

.eyeball {
  width: 50%;
  height: 50%;
  background: #2d3436;
  position: absolute;
  left: 25%;
  top: 25%;
  border-radius: 100%;
  overflow: hidden;
} */
