*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.box{
    width: 100px;
    height: 100px;
    transition: all 0.5s ease-in-out;
}

.box:first-child{
    background-color: red;
}
.box:nth-child(2){
    background-color: green;
}
.box:nth-child(3){
    background-color: blue;
}
.box:nth-child(4){
    background-color: yellow;
}
.box:nth-child(5){
    background-color: orange;
    color: orange;
    text-align: center;
    line-height: 100px;
}
.box:first-child:hover{
    width: 200px;
}
.box:nth-child(2):hover{
    height: 200px;
}
.box:nth-child(3):hover{
    width: 200px;
    height: 200px;
}
.box:nth-child(4):hover{
    background-color: purple;
    width: 200px;
    height: 200px;
}
.box:nth-child(5):hover{
    color: white;
}