*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

/* Ejercicio 1

div{
    display: inline;
    background-color: aqua;
}

span{
    display: block;
    background-color: brown;
} */

/* Ejercicio 2

div:first-child{
    background-color: blue;
    width: 75px;
    display: inline-block;
}

div:nth-child(2){
    background-color: blueviolet;
    width: 100px;
    display: inline-block;
}

div:nth-child(3){
    background-color: brown;
    width: 200px;
    display: inline-block;
} */

header{
    height: 75px;
    background-color: blanchedalmond;
}

header img{
    max-height: 50px;
    display: inline-block;
    margin: 12px;
    margin-left: 20px;
}

nav{
    position: relative;
    height: 75px;
}

ul{
    list-style: none;
    width: fit-content;
    display: inline-block;
    position: absolute;
    top: 25.1px;
}

li{
    display: inline-block;
    text-align: center;
    margin-left: 30px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 800;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

main{
    min-height: calc(100vh - 125px);
    display: block;
    max-width: 100vw;
}

h1, h2, button{
    left: 50%;
    width: fit-content;
    position: relative;
    margin: 30px 0 5px 0;
     transform: translate(-50%);
}

p{
    color: black;
    text-align: center;
    padding: 0px 100px;
}

footer{
    height: 50px;
    background-color: blanchedalmond;
    max-width: 100vw;
}

main img{
    width: 150px;
    margin-top: 60px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.youSpinMeRound {
    animation: spinning  1.1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
  } 
   @keyframes  spinning{
    100%{
      transform:rotate(1turn);
    }
  }