*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.li-colored{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 200px;
    height: 100px;
    background-color: coral;
    margin: 10px;
    color: white;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    margin: 20px;
    text-align: justify;
    padding: 0 3rem;
}

button{
    background-color: teal;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
