*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    height: fit-content;
}

main{
    scroll-snap-type: y mandatory;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

div{
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

h2{
    text-align: center;
    margin-top: 40px;
    font-size: 2.5rem;
    color: #333;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 65%;
    margin: 1em auto 3em auto;
}

form:focus-within{
    padding: 0px 60px 20px 60px;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

textarea{
    resize: vertical;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button{
    margin-top: 15px;
    width: 150px;
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    align-self: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #555;
}